@import url(https://fonts.googleapis.com/css?family=Lobster);
html{
    height:100%;
}
body{
    height:100%;
    font-size:100%;
    background-color:#eeeeee; 
}
footer{
    background-color:black;
    color:#ff7e00;
    height:30px;
    font-size:1.2rem;
    padding-top:5px;
    width:100%;
}
.wrapper { /*part of pushing the footer to the bottom */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.navbar{
    border-radius:0;
}
.navbar-inverse{
    background-color:black;
} 
.navbar-inverse .navbar-nav li a{
    color:#ff7e00;
    font-size:2rem;
}
.navbar-inverse .navbar-nav li a:hover{
    color:#ffa018;
} 
.navbar-inverse .navbar-brand{
    font-weight:900;
    font-size:3rem; 
    color:#ff7e00;
    font-family:'Lobster', cursive;
} 
.navbar-inverse .navbar-brand:hover{
    color:#ffa018;
}
.lead{
    margin:0; 
}
.table-responsive{
    max-height:450px;
}
thead{
    background-color:black;
    color:#ff7e00;
}
#withdraw, #deposit{
    margin-top:20px;
}
.nav-tabs{
    border-bottom:2px solid #ddd;
}
.nav-tabs li a{
    color:#ffa018;
}
.nav-tabs li a:hover{
    color:#ff7f00;
}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover{
    background-color:black;
    color:#ff7f00;
    font-size:1.1rem;
}
.navbar-nav{
    margin-left:45%;
  } 
.zhigh{   /*hacky solution to ul overlapping the pending table in main page */
    z-index:99;
}
@media(min-width:767px){
    .navbar-nav{
	float:right!important;
    }
}
@media(max-width:767px){
    .navbar-brand{
	margin-left:28%;
    }
    .push{
	height:30px; /* part of pushing the footer to the bottom */
    }
}
    
