extends layout

block content 
 .container 
  .col-sm-5 
    h2 Create Group
    form
     .form-group
      label(for='newGroupName') Group Name
      input(type='text' placeholder='eg F108, John\'s family').form-control#newGroupName 
     .form-group
      label(for='creatorName') Your name
      input(type='text' placeholder='eg Madhav, Vikram').form-control#creatorName 
<<<<<<< HEAD
     .form-group
      label(for='newPassword') Enter a password
      input(type='text').form-control#newPassword 
     input(value='Create' type='button' onClick='register()').btn.btn-default 
=======
     input(type='submit' value='Create').btn.btn-default 
>>>>>>> c6441a52d699dcff1f06d2c7f20b250c69c086a2
  .col-sm-5.col-sm-offset-2 
    h2 Login
    form
     .form-group
      label(for='groupName') Group Name
      input(type='text').form-control#groupName 
     .form-group
      label(for='username') Username
      input(type='text').form-control#username 
     .form-group
      label(for='password') Password
      input(type='password').form-control#password 
<<<<<<< HEAD
     input(value='Login' type='button' onClick='login()').btn.btn-default 
   script(src='javascripts/login.js')
=======
     input(type='submit' value='Login').btn.btn-default 
>>>>>>> c6441a52d699dcff1f06d2c7f20b250c69c086a2
